form input
{
    background-color: #9E5D73;
    color: black;
    width: 15em;
}

#form {
    height: 0.8rem;
    padding: 0.5rem;
    resize: none;
    background-color: white;
    border: 1px solid black;
    border-radius: 0.3rem;
}

button
{
    background-color: #9E5D73;
    color: white ;
    border: solid black 1px;
    margin: 5px;
    flex-grow: 0;
    padding: 5px;
    border-radius: 0.3rem;
}

.task-text {
    display: flex;
    flex:auto;
    flex-direction:row;
    align-items: stretch;
    border: solid black 1px ;
    border-radius: 0.3rem;
    width: 20em;
    margin-top: 1em;
}

.task-text button {
    color: white ;
    border: solid black 1px ;
    height: 1.8rem;
    margin-top: 12px;
    flex-grow: 0;
    padding: 5px;
    border-radius: 0.3rem;
}

.form-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}
