header{
    background-color: #ee8cad;
    display: flex;
    width: 100%;
}

.nav {
    width: 100%;
    list-style-type: none;
    text-align: center;
    border-radius: 10px 10px 0 0;
    background-color: #9E5D73;
    padding-top: 1em;
    height: auto;
}

.nav a {
    color: #fff;
    font-size: 1em;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    margin-left: 2em;
    width: 10em;
}

.nav li {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}

.nav a:hover {
    border-radius: 10px 10px;
    background-color: #734453;
    padding: initial;
}

header strong {
    color: #705860;
    font-size: 2em;
    padding-left: 1.5em;
    text-shadow: 1px 0 1px black,
    0 1px 1px black,
    -1px 0 1px black,
    0 -1px 1px black;
}

body {
    background-color: #ebd1d9;
}

h1 {
    font-family: fantasy;
    font-size: 5em;
    text-transform: lowercase;
    letter-spacing: 0.01rem;
    padding-bottom: 0.001em;
    padding-left: 0.25em;
}

.rules {
    font-size: 1.5em;
    font-family: "Tempus Sans ITC", monospace;
    font-weight: lighter;
    color: black;
    margin-left: 1em;
    white-space: normal;
    line-height: revert;
    text-transform: revert;
    text-decoration: none;
}

.rules strong {
    text-decoration: underline;
    font-style: oblique;
}

.aboutMe p {
    font-size: 1.5em;
    border-radius: 20px;
    font-family: SansSerif,monospace;
    text-align: left;
    font-weight: initial;
    margin-left: 2em;
    margin-right: 2em;
    padding: 0 1.25em;
    white-space: normal;
    line-height: revert;
    background-color: #705860;
    color: papayawhip;
    text-transform: none;
}

.aboutMe pre {
    text-align: center;
}

.code {
    margin-left: 1.5em;
}

aside {
    font-family: "Book Antiqua", serif;
    color: black;
    margin-left: 1.5em;
    border-left: 1px solid black;
    margin-right: 5em;
    padding-left: 1.5em;
    margin-bottom: 3em;
    word-spacing: 0.1em;
    font-style: italic;
    font-weight: bolder;
}

div img{
    filter: drop-shadow(20px 10px 4px grey);
    padding-bottom: 1.5em;
    padding-top: 1.5em;
    display: flex;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0 -1em;
}

.container img {
    margin: 0 1em;
}

.favs h3 {
    color: white;
    background-color: #ee8cad;
    border-radius: 10px 10px;
    font-size: 2em;
    font-family: "Vladimir Script", Gadugi, serif;
    text-align: left;
    font-weight: bolder;
    margin-right: 1em;
    margin-left: 1em;
    padding-left:0.25em;
}

.favs {
    color: #705860;
    font-size: 1.3em;
    font-family: "Lucida Handwriting", serif;
    text-align: left;
    font-weight: bolder;
    white-space: normal;
    line-height: revert;
    text-transform: none;

}

.favs li {
    margin-left: 3em;
    list-style-type: none;

}

.photos b {
    font-size: 12pt;
    font-family: "Tempus Sans ITC", monospace, Serif;
    font-weight: lighter;
    color: white;
    background-color: #705860;
    margin-left: 10pt;
    padding-left: 10pt;
    padding-right: 10pt;
    white-space: normal;
    line-height: 10pt;
    text-align: center;
}

.intro-picture img {
    filter: none;
    margin-right: 5em;
    margin-bottom: 3em;
    padding-left: 5em;
    width: auto;
    height: auto;
}

.intro {
    width: auto;
    height: auto;
    margin-bottom: 3em;
}

.flex1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
}

h2 {
    font-size: 3em;
    color: white;
    text-shadow: 1px 0 1px black,
    0 1px 1px black,
    -1px 0 1px black,
    0 -1px 1px black;
    padding-left: 0.25em;
}

h3 {
    font-size: 3em;
    color: white;
    text-shadow: 1px 0 1px black,
    0 1px 1px black,
    -1px 0 1px black,
    0 -1px 1px black;
    padding-left: 1em;
}

.contactMe {
    font-size: 1em;
    font-family: Lobster, monospace;
    font-weight: lighter;
    letter-spacing: 0.05em;
    width: 100%;
    height: 35em;
}

.contactMe p {
    font-size: xx-large;
    text-align: center;
    font-weight: bolder;
    padding-bottom: 0.5em;
}

.contactPicture img {
    filter: none;
    height: auto;
    padding-left: 5em;
}

.containerContact {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.signature {
    text-align: center;
}

.contactMe h3 {
    font-family: Ravie, serif;
    text-align: left;
    font-size: 2em;
    text-decoration: underline #ffffff;
    text-transform: lowercase;
    font-weight: lighter;
}

.links {
    display: block;
    float: right;
    width: 45%;
    padding-right: 10em;
}

.links a {
    color: black;
    font-size: x-large;
}

.links a:hover {
    border-radius: 20px 20px;
    background-color: #C97792;
}

@media handheld {
    .contactPicture {
        display: none;
    }
}

footer a:hover {
    border-radius: 15px 15px;
    background-color: #ebd1d9;
}

footer a {
    color: black;
}


footer {
    background-color: #9E5D73;
    font-family: monospace;
    font-size: 1em;
    text-align: center;
    letter-spacing: 0.01em;
    font-weight: bolder;
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    height: 3em;
}

.active {
    color: #ffffff;
    font-variant: small-caps;
    font-size:16px;
    padding-left:7px;
    word-spacing: 1px;
}

